# Django
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=true

# PostgreSQL
POSTGRES_DB=gntech
POSTGRES_USER=gntech
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# External API
WEATHER_API_KEY=sua_chave_aqui
WEATHER_API_URL=https://api.openweathermap.org/data/2.5/weather